/*
	Book Store Sass Theme
	Author: Vinay Reddy
	version: 0.0.1
*/
/* BASE */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: 'Raleway', sans-serif;
  outline: 0;
}

.btn {
  background: #ff9700;
  color: #fff;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: 2px solid #ff9700;
  border-radius: 2px;
}

.btn:hover {
  background: #fff;
  color: #ff9700;
}

.container {
  width: 1200px;
  padding: 0 3.125rem;
  max-width: 1200px;
}

.page-wrap {
  min-height: 100vh;
}

.fixed-top {
  background-color: white;
}

section {
  width: 100%;
}

.gray-btn {
  background: #ccc;
  border: 2px solid #ccc;
  font-size: 1rem;
  font-weight: 300;
}

.gray-btn:hover {
  background: #fff;
  color: #ccc;
}

.blue-btn {
  background: #0072bc;
  border: 2px solid #0072bc;
  font-size: 1rem;
  font-weight: 300;
}

.blue-btn:hover {
  background: #fff;
  color: #0072bc;
}

.black {
  background: #252525;
  border: 2px solid #252525;
}

.black:hover {
  background: transparent;
  color: #252525;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #ff9700;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

img {
  max-width: 100%;
}

.tab {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: white;
  padding: 0;
  width: 20%;
  height: 100%;
}

.tab button {
  background-color: inherit;
  color: black;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 1.375rem 0.875rem;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab .active-tab {
  background: black;
  color: white;
}

.tab .inactive-tab {
  background: white;
  color: black;
}

.right-sidebar {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 15px;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* modules */
/* layouts */
header .header-top {
  background: #fcba68;
  color: #fff;
  padding: 0.4375rem 0;
}

header .header-top .web-url {
  font-size: 0.75rem;
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1rem;
  display: inline-block;
  font-style: italic;
}

header .header-top .web-url:hover {
  text-decoration: none;
  border: 0;
}

header .header-top h5 {
  font-size: 1rem;
  font-weight: 300;
}

header .header-top .ph-number {
  float: right;
}

header .header-top .row {
  align-items: center;
}

header .main-menu {
  padding: 2.5rem 0;
}

header .main-menu .navbar {
  padding: 0;
}

header .main-menu .navbar-brand {
  padding: 0;
  margin-top: -0.625rem;
}

header .main-menu .navbar-light .navbar-nav .navbar-item {
  padding: 0 1rem;
  position: relative;
}

header .main-menu .navbar-light .navbar-nav .navbar-item:after {
  content: '';
  width: 1px;
  height: 1.125rem;
  float: right;
  background: #a3a3a3;
  position: absolute;
  right: 0;
  top: 0.125rem;
}

header .main-menu .navbar-light .navbar-nav .navbar-item:last-child:after {
  display: none;
}

header .main-menu .navbar-light .navbar-nav .navbar-item.active {
  color: #000;
}

header .main-menu .navbar-light .navbar-nav .navbar-item.active:after {
  background: #000;
}

header .main-menu .navbar-light .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-weight: 300;
}

header .main-menu .form-inline {
  border: 1px solid #e7e7e7;
  padding-right: 0.625rem;
}

header .main-menu .form-inline input {
  border: 0;
  font-size: 0.75rem;
  height: 2rem;
  outline: 0;
}

header .main-menu .form-inline input:focus {
  outline: 0;
  box-shadow: none;
}

header .main-menu .form-inline .fa {
  color: #e7e7e7;
  font-size: 0.75rem;
}

header .cart {
  padding: 0 0.625rem;
  margin-right: 0.625rem;
  position: relative;
  margin-top: 0.125rem !important;
}

.slider {
  width: 100%;
  margin-bottom: 3.125rem;
}

.slider .slide .content {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
}

.slider .slide .content .title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.slider .slide .content .title h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.9375rem;
}

.slider .slide .content .title h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.slider .owl-dots {
  position: absolute;
  bottom: 1.875rem;
  width: 100%;
  text-align: center;
}

.slider button.owl-dot {
  width: 0.625rem;
  height: 0.625rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 0.3125rem;
}

.slider button.owl-dot.active {
  background: #ff9700;
}

.recomended-sec {
  text-align: center;
  margin-bottom: 5rem;
}

.recomended-sec h2 {
  display: inline-block;
  font-size: 1.875rem;
  padding: 0 0.9375rem;
  background: #fff;
  position: relative;
  text-transform: uppercase;
  color: #363636;
}

.recomended-sec hr {
  margin: 0;
  margin-top: -1.25rem;
  border-top: 1px solid #999999;
}

.recomended-sec .title {
  margin-bottom: 4.375rem;
}

.recomended-sec .item {
  border: 1px solid #d5d5d5;
  padding: 2.25rem 0.625rem;
  cursor: pointer;
  position: relative;
}

.recomended-sec .item img {
  margin-bottom: 0.9375rem;
  max-width: 100%;
}

.recomended-sec .item h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.625rem;
  height: 1.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recomended-sec .item h6 {
  font-size: 0.75rem;
}

.recomended-sec .item h6 span {
  color: #ff0000;
}

.recomended-sec .item h6 a {
  color: #000;
  border-bottom: 1px solid #000;
}

.recomended-sec .item h6 a:hover {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
}

footer .social a {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 1.5rem;
  color: #000;
  font-size: 1rem;
  margin: 0.25rem;
  transition: 0.3s;
}

footer .social a:hover {
  background: #ff9700;
  color: #fff;
}

footer .footer-bottom {
  background: #000;
  color: #fff;
  padding: 1.25rem 0;
  text-align: center;
}

footer .footer-bottom p {
  font-size: 0.75rem;
}

footer .footer-bottom p a {
  color: #ff9700;
}

footer .footer-bottom p a:hover {
  color: #fff;
}


@media only screen and (max-width: 1024px) {
  header .cart .quntity {
    font-size: 10px;
  }

  .container {
    width: 100%;
    padding: 0 20px;
    max-width: 100%;
  }

  .recent-book-sec .row {
    margin: 0 -20px;
  }
  .recent-book-sec .row .col-lg-2,
  .recent-book-sec .row .col-md-2 {
    padding: 0 20px;
  }

  .offers-sec .row {
    margin: 0 -20px;
  }
  .offers-sec .row .col-md-6 {
    padding: 0 20px;
  }

  .about-sec .about-content {
    max-width: 580px;
    padding-left: 40px;
  }

  .offers-sec .detail h3 {
    font-size: 22px;
  }

  .testimonial-sec .item h3 {
    font-size: 30px;
    line-height: 46px;
  }
}

@media only screen and (max-width: 800px) {
  header .header-top h5,
  header .header-top .ph-number {
    font-size: 12px;
  }

  header .main-menu {
    padding: 20px 0;
  }

  header .main-menu .navbar-light .navbar-nav .navbar-item {
    padding: 0;
    margin-bottom: 10px;
  }

  header .main-menu .navbar-light .navbar-nav .navbar-item:after {
    display: none;
  }

  header .cart {
    max-width: 34px;
  }

  header .main-menu .form-inline {
    max-width: 200px;
  }

  .recomended-sec h2 {
    font-size: 26px;
  }

  .recomended-sec hr {
    margin-top: -15px;
  }

  .recomended-sec .item {
    margin-bottom: 30px;
  }

  .recomended-sec {
    margin-bottom: 50px;
  }

  .recent-book-sec .row .col-lg-2 {
    flex: 25%;
    max-width: 25%;
  }

  .about-sec .about-content {
    max-width: 440px;
    padding: 40px 0 40px 25px;
  }

  .offers-sec .detail {
    padding: 45px 34px;
  }

  .offers-sec .detail h6 {
    padding-right: 0;
  }

  .testimonial-sec {
    padding: 80px 0 60px;
  }

  .testimonial-sec .item {
    padding: 0 50px 80px;
  }

  .testimonial-sec .item h3 {
    font-size: 26px;
    line-height: 42px;
  }

  header .main-menu .form-inline input {
    width: 170px;
    height: 38px;
  }

  .offers-sec .detail .icon-point {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  header .header-top .ph-number {
    float: initial;
  }

  header .navbar-nav {
    padding-top: 10px;
  }

  .slider .slide .content .title {
    padding: 0 10px;
  }

  .slider .slide .content .title h3 {
    font-size: 24px;
  }

  .slider .slide .content .title h5 {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .btn {
    padding: 10px 15px 9px;
  }

  .slider .owl-dots {
    bottom: 10px;
  }

  .about-sec {
    padding-bottom: 60px;
  }

  .about-sec .about-content {
    max-width: 100%;
    padding: 0 20px;
  }

  .about-sec .about-img {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-sec .about-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .about-sec .about-content p {
    margin-bottom: 20px;
  }

  .about-sec .about-content .btn-sec {
    margin-top: 34px;
  }

  .recent-book-sec .row {
    margin: 0 -15px;
  }

  .features-sec ul li {
    padding: 0 10px 40px;
  }

  .features-sec ul li h3 {
    font-size: 20px;
  }

  .offers-sec .detail {
    margin-bottom: 20px;
  }

  .recent-book-sec .row .col-lg-2 {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 15px;
  }

  .offers-sec .row {
    margin: 0 -15px;
  }

  .offers-sec .row .col-md-6 {
    padding: 0 15px;
  }

  .slider .slide .content .title h3 {
    font-size: 22px;
  }

  .slider .slide .content .title h5 {
    font-size: 12px;
  }

  .recomended-sec .title {
    margin-bottom: 40px;
  }

  .recomended-sec h2,
  .recent-book-sec h2 {
    font-size: 22px;
  }

  .features-sec ul li {
    width: 100%;
    margin-bottom: 60px;
  }
  .features-sec ul li:last-child {
    margin-bottom: 0;
  }

  .features-sec ul li {
    border: 1px solid #cacaca;
  }

  .offers-sec .detail {
    padding: 40px 24px;
  }

  .offers-sec {
    padding: 80px 0 60px;
  }

  .testimonial-sec {
    padding: 60px 0 40px;
  }

  .testimonial-sec .item h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .testimonial-sec .item {
    padding: 0 20px 80px;
  }

  .testimonial-sec .left-quote {
    left: 0px;
  }

  .testimonial-sec .right-quote {
    right: 0px;
  }

  .recent-book-sec .row .col-lg-2 {
    padding: 0 15px;
  }

  .recent-book-sec .row {
    margin: 0 -15px;
  }
}

@media only screen and (max-width: 320px) {
  .slider .owl-dots {
    bottom: -5px;
  }
}

.breadcrumb {
  background: transparent;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  margin-bottom: 50px;
  border-radius: 0;
}

.breadcrumb a {
  font-weight: 200;
  color: #000;
  font-size: 14px;
}

.breadcrumb .breadcrumb-item.active {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}

.about-sec h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #363636;
}

.about-sec img {
  float: left;
  margin: 0 50px 50px 0;
}

.about-sec p {
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 25px;
}

.about-sec .img-sec {
  clear: both;
  float: left;
  width: 100%;
}

.static h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #363636;
}

.static p {
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 25px;
}

.static .img-sec {
  clear: both;
  float: left;
  width: 100%;
}

.static .form {
  margin-top: 50px;
  margin-bottom: 100px;
}

.static .form input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 35px;
}

.static .form .btn {
  padding: 12px 60px 10px;
  float: left;
  font-weight: 300;
}

.static .form h5 {
  float: left;
  line-height: 50px;
  padding-left: 15px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
}

.static .form h5 a {
  font-weight: 600;
  color: #fc4733;
  border-bottom: 1px solid;
}

.static .form h5 a:hover {
  text-decoration: none;
}

.static .form .required-star {
  position: absolute;
  top: -5px;
  right: 10px;
  color: #fc4733;
}

.product-sec .product-item {
  overflow: hidden;
}

.product-sec .product-item h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product-sec .product-item .price {
  font-size: 18px;
  font-weight: 500;
}

.product-sec .product-item img {
  height: 260px;
  width: 100%;
}

.product-sec .product-item .btn {
  margin: 15px 0;
}

.footer-sec {
  padding: 60px 0 40px;
}

.footer-sec h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-sec .social {
  padding-bottom: 20px;
}

.footer-sec .social a {
  padding: 0 10px;
}

.footer-sec .social i {
  font-size: 22px;
  color: #2b2b2b;
}

.copy-right {
  border-top: 1px solid #c3c3c3;
  padding: 10px 0 20px;
  font-size: 14px;
  color: #2b2b2b;
}

.copy-right p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.copy-right p a {
  color: #fc4733;
  font-weight: 600;
  text-decoration: none;
}

.copy-right p a:hover {
  text-decoration: underline;
}

.share {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.share i {
  font-size: 22px;
  margin: 0 10px;
  color: #2b2b2b;
}

